body {
  background-color: #f4f4f4;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  margin: 20px auto;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
}

#table-wrapper {
  margin: 20px;
}

#cloud-button {
  display: none;
}

select {
  width: 15em;
}

table {
  background-color: white;
}
